{% extends "base.html" %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/index.css">
    <meta name="description" content="A website about technology and astronomy.">
{% endblock %}

{% block content %}
<section id="content">
<h1>Hi, I'm Jake.</h1>

<p>I'm a software developer and amateur astronomer. I'm actively developing content on this site related to those things. Currently, there isn't a ton here. To make up for it, here is a picture of Saturn's North Pole. It has a hexagonal storm. Neat.</p>

<p>You can read more about me <a href="{{ SITEURL }}/about-me">here</a>.</p>

<div class="image-with-caption">
    <img alt="north pole of saturn" src="{{ SITEURL }}/images/saturn-north-pole-cassini.jpg"/>
    Credit: <a href="https://photojournal.jpl.nasa.gov/catalog/PIA21348">NASA/JPL-Caltech/Space Science Institute</a>
</div>

<h3>Recent Posts</h3>
<ul>
    {% for article in articles[:RECENT_POST_LIST_LENGTH] %}
        <li><article>
            <p><strong><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></strong>
                 - {{ article.category }}
                 - {{ article.locale_date }}</p>
        </article></li>
    {% endfor %}
</ul>
</section>
{% endblock %}